.dashboard{
  @include theme-aware('background-color', 'color-bg-dash');
  min-height: 100vh;
  width: 100%;

  &__wrapper{
    padding: 40px 60px ;
  }
  &__panel{
    margin-bottom: 40px;
  }
  &__title{
    font-weight: bold;
    line-height: 1.2;
  }
  &__filters{
    display: flex;
    justify-content: space-between;
  }

  &__filter{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    @include theme-aware('color', 'color-font-copy');
    @include theme-aware('background-color', 'border-btn-transparent');
    border-radius: 90px;
    transition: 0.3s;
    cursor: pointer;
    &:not(last-child){
      margin-right: 14px;
    }
    & i::before {
      display: inline-block;
      font-size: 10px;
      margin-left: 5px;
      transform: rotate(90deg);
      transition: 0.3s;
    }
    &:hover{
      @include theme-aware('color', 'color-filter-font');
      i::before {
        @include theme-aware('color', 'color-filter-font');
        transition: 0.3s;
      }
    }
    &.active {
      i::before {
        transform: rotate(270deg);
      }
    }
    &-calling {
      display: flex;
      align-items: center;
    }
    &-status {
      margin-right: 27px !important;
    }
    &-name {
      margin-right: 20px;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 43%;
    }
    &-location {
      flex-basis: 22%;
      flex-shrink: 0;
    }
    &-area {
      flex-shrink: 0;
    }
    &-duration {
      flex-basis: 45%;
      flex-shrink: 0;
    }
    &-space {
      visibility: hidden;
      margin-right: 20px;
    }

  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  &__list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }

  &__item{
    border-radius: 8px;
    width: 100%;
    @include theme-aware('background-color', 'color-background-form');
    &:not(last-child){
      margin-bottom: 8px;
    }
  }

  &__item-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 22px 22px;
  }

  &__calling{
    flex-basis: 52%;
    display: flex;
    align-items: center;
    & .icon-galka:before{
      @include theme-aware('color', 'color-anchor-font');
    }
    & i {
      font-size: 20px;
      margin-right: 45px;
    }
    span{
      margin-right: 20px;
      cursor: pointer;
      font-weight: 700;
    }
    a{
      @include theme-aware('color', 'color-bg-btn');
      font-family: $common-font;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  &__info{
    flex-basis: 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  &__location,&__users,&__log{
    flex-basis: 22%;
    display: flex;
    align-items: center;
    i {
      font-size: 20px;
      &:before {
        @include theme-aware('color', 'color-icon-gray');
      }
    }
    span{
      font-size: 16px;
      line-height: 1.2;
      margin-left: 11px;
    }

  }
  &__log{
    flex-basis: 45%;

    &-start {
      margin-right: 5px;
    }
    &-end {
      margin-left: 5px;
    }
  }
  &__setting{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &__point{
    @include theme-aware('background', 'ligthGray');
    height: 4px;
    width: 4px;
    border-radius: 90px;
    &:not(last-child){
      margin-bottom: 4px;
    }

  }


}

@media (max-width: 1250px) {
  .dashboard {
    &__location, &__square, &__log {
      margin-right: 15px;
    }
    &__filter-info {
      flex-basis: 46%;
    }
    &__filter-location {
      flex-basis: unset;
    }
  }
}

@media (max-width: 1200px) {
  .dashboard {
    &__filter-info {
      flex-basis: 50%;
    }
  }
}

@media (max-width: 1170px) {
  .dashboard {
    &__filter-info {
      flex-basis: 54%;
    }
    &__filter-duration {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1130px) {
  .dashboard {
    &__filter-info {
      flex-basis: 56%;
    }
  }
}

@media (max-width: 1100px) {
  .dashboard {
    &__filter-info {
      flex-basis: 58%;
    }
  }
}

@media (max-width: 1050px) {
  .dashboard {
    &__filter-info {
      flex-basis: 61%;
    }
  }
}