.icon-replace:before {
  content: "\e911";
  color: #2ec3e9;
}
.icon-trash:before {
  content: "\e912";
  color: #cecece;
}
.icon-plus-cir:before {
  content: "\e90f";
  color: #2ec3e9;
}
.icon-account:before {
  content: "\e90e";
  color: #fff;
}
.icon-iconfile:before {
  content: "\e910";
  color: #cecece;
}
.icon-charning:before {
  content: "\e900";
  color: #2ec3e9;
}
.icon-clock:before {
  content: "\e901";
  color: #cecece;
}
.icon-close:before {
  content: "\e902";
  color: #fff;
}
.icon-earphons:before {
  content: "\e903";
  color: #2ec3e9;
}
.icon-galka:before {
  content: "\e904";
  color: #2ec3e9;
}
.icon-remarker:before {
  content: "\e905";
  color: #fff;
}
.icon-schems:before {
  content: "\e906";
  color: #cecece;
}
.icon-setting:before {
  content: "\e907";
  color: #cecece;
}
.icon-shield-gal:before {
  content: "\e908";
  color: #cecece;
}
.icon-shield:before {
  content: "\e909";
  color: #ffae4f;
}
.icon-tree:before {
  content: "\e90a";
  color: #fff;
}
.icon-users:before {
  content: "\e90b";
  color: #cecece;
}
.icon-vilka:before {
  content: "\e90c";
  color: #cecece;
}
.icon-warning:before {
  content: "\e90d";
  color: #ff6c58;
}
